.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.form__group {
    margin-bottom: 10px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 2px solid #8E8E8E;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 40px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #214AE0;
    color: #fff;
    cursor: pointer;
}

.login__info {
    margin-top: 30px;
    text-align: center;
    color: #8E8E8E;
}

.login__link {
    text-align: center;
    color: #214AE0;
    text-decoration: none;
}

.login__link a {
    color: #214AE0;
    text-decoration: none;
}